.form {
  display: flex;
  flex-direction: column;

  padding: 34px 36px 37px;

  max-width: 430px;

  box-sizing: border-box;
}

@media (max-width: 525px) {
  .form {
    max-width: 282px;
    padding: 25px 22px;
    height: 322px;
  }
}