.profile {
    max-width: 880px;
    width: 100%;
    margin: 36px auto 47px;
    color: white;
    display: flex;
    align-items: center;
}

@media (max-width: 750px) {
    .profile {
        flex-direction: column;
        margin: 38px auto 36px;
    }
}