.profile__column {
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 20px;
    align-items: flex-end;
}

@media (max-width: 900px) {
    .profile__column {
        max-width: 455px;

    }
}

@media (max-width: 750px) {
    .profile__column {
        max-width: 450px;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        row-gap: 14px;
    }
}

@media (max-width: 660px) {
    .profile__column {
        max-width: 350px;
    }
}

@media (max-width: 400px) {
    .profile__column {
        max-width: 300px;
    }
}