.form__fieldset {
  max-height: 180px;
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

@media (max-width: 525px) {
  .form__fieldset {
    max-width: 238px;
  }
}