.profile__edit {
    margin: 0 0 8px;
    background: url("../../../images/vector_edit.png") center/10px no-repeat transparent;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .1s linear;

}

.profile__edit:hover {
    opacity: 0.6;
}

@media (max-width: 750px) {
    .profile__edit {
        margin: 4px 0 0 0;
    }
}

@media (max-width: 400px) {
    .profile__edit {
        width: 18px;
        height: 18px;
    }
}