.header__logo {
    max-width: 142px;
    width: 100%;
    padding: 0;
 }

 @media (max-width: 890px) {
    .header__logo {
        max-width: 123px;
        padding: 0 27px 0;
    }
 } 

 @media (max-width: 660px) {
    .header__logo {
        max-width: 103px;
    }
 } 


