.profile__add {
    margin: 0 0 10px auto;
    background: url("../../../images/Vector\ add.png") center/20px no-repeat transparent;
    max-width: 150px;
    width: 100%;
    height: 50px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .1s linear;
}

.profile__add:hover {
 opacity: 0.6; 
}

@media (max-width: 660px) {
    .profile__add {
        max-width: 340px;
        margin: 36px auto 0;
    }
 } 

 @media (max-width: 330px) {
    .profile__add {
        max-width: 382px;
    }
 } 