.form__title {
  margin: 0;
  padding-bottom: 54px;
  color: black;
  font-size: 24px;
  line-height: 29px;
  max-width: 430px;
}

@media (max-width: 525px) {
  .form__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}