.form__input {
  padding-top: 8px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  max-width: 354px;
  width: 100%;
}

/* .form__input:invalid {
  border-bottom: 1px solid red;
} */

@media (max-width: 525px) {
  .form__input {
    max-width: 238px;
    padding-bottom: 13px;
  }
}