.card__img {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
    max-height: 282px;
    height: 100%;

}

@media (max-width: 900px) {
    .card__img {
        max-width: 430px;
    }
}

@media (max-width: 600px) {
    .card__img {
        max-width: 560px;
    }
}

@media (max-width: 320px) {
    .card__img {
        width: 282px;
    }
}